* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  
}
.nav-ul{
    list-style: none;
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    gap: 100px;
    cursor: pointer;
    
}
.blog{
    color: #7C4EE4;
}
.contact{
    /* border: 2px;
    height: 2px; */
    padding: 20px ;
    background-color: #7C4EE4;
    color: white;
    border-radius: 10px;
    align-items: center;
}
.nav-header{
    display: flex;
    gap: 100px;
    align-items: center;
    
    
}
.section-1{
    background-color: #7C4EE4;
}

.nav-section2{
    margin-top: 150px;
    margin-left: 100px;
    color: #FFFFFF;
}
.main-ai{
    font-size: 48px;
}
.nav-section1{
    margin: auto;
    padding: 50px;
    background-color: #7C4EE4;
    
}
.img-ai{
    height: 500px;
    width: 500px;
    margin-left: 700px;
    margin-top: -500px;
}
.read-more{
    border: 2px;
    padding: 20px;
    
    border-radius: 10px;
}
/* page 2 styling */
.section-2{
    display: flex;
   margin: 3px;
   padding: 3px;
   
}
.page-2{
    
    margin: auto;
    padding: auto ;
   
}

.pic-2{
    width: 1200px;
     height: 700px; 
    margin-top: 30px;

}
.para-1{
    display: flex;
}
.para{
    background-color:white;
    margin-left: 476px;
    margin-top: -350px;
    position: relative;
      /* margin: 3px; */
     padding: 40px; 
    width: 800px;
    border-radius: 20px;



}
.game{
    font-size: 40px;
}
.read{
    color: purple;
    padding: 20px;
    border: 4px solid purple;
    border-radius: 10px;
}



.travel>img {
    width: 400;
    height: 360;
    top: 2457px;
    left: 104px;
    opacity: 1;
    border-radius: 16px;



}

.develop>img {
    width: 400;
    height: 360;
    top: 2457px;
    left: 520px;
    opacity: 1;
    border-radius: 16px;


}

.sports>img {
    width: 400;
    height: 360;
    top: 2457px;
    left: 936px;
    opacity: 1;
    border-radius: 16px;



}

.resent {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}


.pop-but>button{
    padding: 20px;
    background-color: #7C4EE4;
    columns: #ffffff;
    border-radius: 10px;
    align-items: center;
    margin-left: 1100px;
    margin-right: 100px;
    margin-bottom: 50px;
    width: 125px;
    margin-top: -200px;

}

.popular>h1 {
    color: black;
    margin-top: 50px;
    margin-left: 100px;
    height: 60px;
}

.travel2>img {
    width: 400;
    height: 360;
    top: 2457px;
    left: 104px;
    opacity: 1;
    border-radius: 16px;



}

.develop2>img {
    width: 400;
    height: 360;
    top: 2457px;
    left: 520px;
    opacity: 1;
    border-radius: 16px;


}

.sports2>img {
    width: 400;
    height: 360;
    top: 2457px;
    left: 936px;
    opacity: 1;
    border-radius: 16px;



}

.resent2 {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.travel3>img {
    width: 400;
    height: 360;
    top: 2457px;
    left: 104px;
    opacity: 1;
    border-radius: 16px;



}

.develop3>img {
    width: 400;
    height: 360;
    top: 2457px;
    left: 520px;
    opacity: 1;
    border-radius: 16px;


}

.sports3>img {
    width: 400;
    height: 360;
    top: 2457px;
    left: 936px;
    opacity: 1;
    border-radius: 16px;



}

.resent3 {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
.content{
    background-color: #7C4EE4;
    border: none;
    border-radius: 10px;
    width: 150px;
    margin-bottom: 16px;
    margin-left: 100px;

    
}


